<footer class="footer bg-backgroundAnti text-base-content px-10 py-4">
    <aside class="grid-flow-col items-center">
      <p>
        Legouloan Inc.
        <br />
        Providing You With LOADS Of Pleasure
      </p>
    </aside>
    <nav class="md:place-self-center md:justify-self-end">
      <div class="grid grid-flow-col gap-4">
        <a href="https://www.linkedin.com/in/loan-legoussouart-09bb27213" aria-label="Linkedin shop" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="['fab', 'linkedin']" size="2x"></fa-icon>
        </a>
        <a href="https://www.instagram.com/legouloan" aria-label="Instagram shop" target="_blank" rel="noopener noreferrer">
          <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
        </a>
      </div>
    </nav>
  </footer>