<div class="space-y-4 p-4 bg-background min-h-screen">
  <!-- Title + AddButton -->
  <div class="flex items-center justify-between">
    <div>
      <p class="text-xl font-semibold text-primaryLight">
        Savor every moment,
      </p>
      <p class="text-2xl font-extrabold text-primary ml-16">
        Rate every taste
      </p>
    </div>
    <button (click)="openModal()"
      class="bg-primary text-background px-6 py-2 rounded-md hover:bg-primaryLight transition">
      Add New Item
    </button>
  </div>

  <!-- Item List -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
    <ng-container *ngFor="let item of items">
      <gourava-item-info-card [title]="item.title" [tags]="item.tags" [criterias]="item.criterias"
        [showButtons]="false">
      </gourava-item-info-card>
    </ng-container>
  </div>

  <!-- Modal -->
  <gourava-form-modal 
  [showModal]="showModal" 
  (close)="closeModal()" 
  (save)="onSaveItem($event)" />

</div>