<div class="space-y-4 p-4 bg-background min-h-screen">
<!-- Filter + Sort -->
<div class="flex justify-between items-center mb-4">

  <!-- Filter -->
  <div>
    <label for="tagFilter" class="block text-sm font-medium text-neutral mb-2">Filter by Tags</label>
    <div id="tagFilter" class="flex flex-wrap gap-2">
      <button *ngFor="let tag of allTags" 
      (click)="toggleTagSelection(tag)"
        [class.bg-primary]="selectedTags.includes(tag)" 
        [class.text-background]="selectedTags.includes(tag)"
        [class.bg-background]="!selectedTags.includes(tag)" 
        [class.text-primary]="!selectedTags.includes(tag)"
        class="px-3 py-1 rounded-md border border-neutral hover:bg-primary hover:text-background transition">
        {{ tag }}
      </button>
    </div>
  </div>

  <!-- Sort -->
  <div>
    <label for="sortBy" class="block text-sm font-medium text-neutral">Sort by</label>
      <select id="sortBy" [(ngModel)]="sortBy" (change)="onSortChange()" class="p-2 border rounded-md">
        <option value="title">Title</option>
        <option value="asc">Rating Asc</option>
        <option value="desc">Rating Desc</option>
      </select>
    </div>
  </div>

  <!-- Search -->
  <div class="mb-4">
    <input type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()"
      placeholder="Search by title, tags, or criteria" class="p-2 border rounded-md w-full" />
  </div>

  <!-- Item List -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-4">
    <div *ngFor="let item of filteredItems" class="my-4">
      <gourava-item-info-card [title]="item.title" [tags]="item.tags" [criterias]="item.criterias" [showButtons]="true"
        [itemId]="item.id" (delete)="deleteItem($event)" (update)="updateItem($event)" />
    </div>
  </div>

  <!-- Modal -->
  <gourava-form-modal
  [showModal]="showModal"
  [currentItem]="currentItem"
  (close)="closeModal()"
  (save)="onSaveItem($event)"/>

</div>