<div class="navbar bg-backgroundMid">
    <div class="navbar-start">
      <div class="dropdown">
        <a class="btn btn-ghost text-xl">
          <div class="border-1 bg-primary text-secondary logo p-2 rounded-lg" routerLink="/">Gourava</div>
        </a>
      </div>
    </div>
    
    <div class="navbar-center flex">
      <div class="menu menu-sm sm:menu-lg menu-horizontal px-1 text-neutral">
        <li><a href="/">Home</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/stats">Stats</a></li>
      </div>
    </div>
  </div>
  